

.main-content{
    margin: 30px 0;
}
.main-content .post{
    margin-bottom: 30px;
}
.main-content .post_text{
    background: #ffffff;
    padding: 8px;
    border-radius: 3px;
}
.main-content .post_text h3{
    margin: 14px 0;
}
.main-content .post_text h3 a:hover{
    text-decoration: underline;
    color: #5c5b5b;
}
.main-content .post_text i{
    margin: 0 14px 14px 0;
}




.search{
    margin-top: 76px;
}
.sidebar .section{
    background: #ffffff;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
}
.sidebar .topics ul{
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #e0e0e0;
}
.sidebar .topics ul li a{
    display: block;
    padding: 15px 0 15px 0;
    border-top: 1px solid #e0e0e0;
    transition: all 0.3s;
    text-decoration: none;
    font-weight: 500;
    color: #5c5b5b;
    font-size: 1.2em;
}
.sidebar .topics ul li a:hover{
    padding-left: 10px;
    transition: all 0.3s;
}



