


.reg_form h2{
    text-align: center;
    margin: 30px 0;
}

.reg_form input{
    height: 3.3rem;
}

.reg_form a{
    font-size: 1.2em;
    transition: all .3s;
    color: #5c5b5b;
    text-decoration: none;
    margin-left: 60px;
}
.reg_form a:hover{
    margin-left: 55px;
    transition: all .3s;
 }