
.single_post{
    margin-bottom: 30px;
}
.single_post .info{
    margin: 20px 0;
}
.single_post .info .i{
    display: inline-block;
    margin-right: 30px;
}
.single_post a{
    text-decoration: underline;
}
.single_post a:hover{
    text-decoration: none;
    color: #008489;
}




.all-comments{
    margin-top: 3rem;
}
.all-comments h3{
    margin-bottom: 3rem;
}
.all-comments .one-comment{
    padding: 1rem;
    border: 1px solid #008484;
    border-radius: 4px;

    margin-bottom: 20px;
}

.all-comments .one-comment span{
    display: inline-flex;
    margin: 1.5rem 1.5rem 1.5rem 0;
}










